@model GoSerbisyo.Models.ServiceViewModel

<div class="row">
    <div class="col-md-12">
        <h4>@Model.Name</h4>
        <h4>@Model.Location</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>@Model.Description</p>
        </div>
    </div>
</div>
